BasedOnStyle: Google
ColumnLimit: 100
InsertTrailingCommas: Wrapped
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignArrayOfStructures: Right
IndentPPDirectives: BeforeHash
