AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Left
AlignOperands: Align
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
BasedOnStyle: Google
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: All
ColumnLimit: 100
IndentPPDirectives: BeforeHash
InsertTrailingCommas: Wrapped
